@charset "utf-8";

/* 파라다이스시티 PJ 메인 페이지 CSS - main.css */

/* 외부 공통 CSS 합치기 */
@import url(reset.css);
@import url(core.css);
@import url(common.css);


/********************* 공통 영역 *********************/
section{
    box-sizing: border-box;
    padding: 10vw 0;
    position: relative;
}
section .sec_title{
    font-family: 'Ledger', serif;
    font-weight: 400;
    font-size: 4.5rem;
    letter-spacing: -2px;
    margin-bottom: 5vh;
    text-align: center;
}
section .sec_cont{
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -1px;
}





/********************* 헤더 영역 *********************/




/************************ 메인영역 ************************/

#cont{
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

#cont .cont{
    height: 88vh;
    position: relative;
}
#cont .cbx{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#cont .cbx li{
    flex: 1;
    height: 100%;
    border-right: 1px solid rgba(204, 204, 204, 0.2);
}
#cont .cbx2 li:nth-child(1){
    background: url(../img/main_small01.jpg) no-repeat center/cover;
}
#cont .cbx2 li:nth-child(2){
    background: url(../img/main_small02.jpg) no-repeat center/cover;
}
#cont .cbx2 li:nth-child(3){
    background: url(../img/main_small03.jpg) no-repeat center/cover;
}
#cont .cbx2 li:nth-child(4){
    background: url(../img/main_small04.jpg) no-repeat center/cover;
}
#cont .cbx2 li:nth-child(5){
    border-right: none;
    background: url(../img/main_small05.jpg) no-repeat center/cover;
}
#cont .cbx2 .accordion{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
@keyframes big {
    0%{
        transform: scale(1);
    }
    100%{
         transform: scale(1.1);
    }
}
#cont .cbx2 li:nth-child(1) .accordion{
    clip-path: polygon(0% 0%,20% 0%,20% 100%, 0% 100%);
    background: url(../img/main_big01.jpg) no-repeat center/cover;
}
#cont .cbx2 li:nth-child(2) .accordion{
    background: url(../img/main_big02.jpg) no-repeat center/cover;
    clip-path: polygon(20% 0%,40% 0%,40% 100%, 20% 100%);
}
#cont .cbx2 li:nth-child(3) .accordion{
    clip-path: polygon(40% 0%,60% 0%,60% 100%, 40% 100%);
    background: url(../img/main_big03.jpg) no-repeat center/cover;
}
#cont .cbx2 li:nth-child(4) .accordion{
    clip-path: polygon(60% 0%,80% 0%,80% 100%, 60% 100%);
    background: url(../img/main_big04.jpg) no-repeat center/cover;
}
#cont .cbx2 li:nth-child(5) .accordion{
    clip-path: polygon(80% 0%,100% 0%,100% 100%, 80% 100%);
    background: url(../img/main_big05.jpg) no-repeat center/cover;
}
#cont .cbx1 li:nth-child(1) .accordion{
    left: 0;
}
#cont .cbx1 li:nth-child(2) .accordion{
    left: 20%;
    right: 40%;
}

#cont .cbx1 li:nth-child(3) .accordion{
    left: 40%;
    right: 60%;
}
#cont .cbx1 li:nth-child(4) .accordion{
    left: 60%;
    right: 80%;
}
#cont .cbx1 li:nth-child(5) .accordion{
    left: 80%;
    right: 100%;
}
#cont .cbx1 .accordion{
    
}
#cont .cont_tbx{
    width: 100%;
    padding: 0 8%;
    margin-top: 28vh;
    box-sizing: border-box;
}
#cont .cont_tbx h3{
    color: #fff;
    margin-bottom: 13px;
    font: bold 22px 'roboto';
}
#cont .cont_tbx h3::before{
    content:'';
    display: block;
    width: 25px;
    height: 25px;
    margin-bottom: 22px;
}
#cont li:nth-child(1) .cont_tbx h3::before{
    background: url(../img/W_icon_Hospitality.svg) no-repeat center/cover;
}
#cont li:nth-child(2) .cont_tbx h3::before{
    background: url(../img//W_icon_Cimer.svg) no-repeat center/cover;
}
#cont li:nth-child(3) .cont_tbx h3::before{
    background: url(../img//W_icon_Wonderbox.svg) no-repeat center/cover;
}
#cont li:nth-child(4) .cont_tbx h3::before{
    background: url(../img//W_icon_Casino.svg) no-repeat center/cover;
}
#cont li:nth-child(5) .cont_tbx h3::before{
    background: url(../img//W_icon_Inspiration.svg) no-repeat center/cover;
}
#cont .cont_tbx p{
    color: #fff;
    font-size: 12px;
    word-break: keep-all;
}
#cont .cont_sbx{
    width: 20%;
    height: 200px;
    position: absolute;
    bottom: -200px;
    box-sizing: border-box;
    transition: .5s;
}
#cont li:nth-child(1) .cont_sbx{ background-color: #0a78b1; }
#cont li:nth-child(2) .cont_sbx{ background-color: #b69be2; }
#cont li:nth-child(3) .cont_sbx{ background-color: #98319d; }
#cont li:nth-child(4) .cont_sbx{ background-color: #94140a; }

#cont ul li:hover .cont_sbx{
    bottom: 0;
}
#cont .cont_sbx a{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 25px;
}
#cont .cont_sbx a h4{
    color: #fff;
    font-size: 14px;
    margin-bottom: 50px;
}
#cont .cont_sbx a span{
    color: #fff;
    font-size: 14px;
}
#cont .cont_sbx span::after{
    content: '';
    display: block;
    width: 40px;
    height: 15px;
    background: url(../img/btn_quick_arrow.png) no-repeat center/100%;
    margin-top: 15px;
    transition: .5s;
}
#cont .cont_sbx:hover span::after{
    margin-left: 35px;
}

/***** 예약파트 *****/
#cont .reservation{
    width: 100%;
    height: 12vh;
    background-color: rgb(240, 240, 240);
    padding: 2vh 0;
    box-sizing: border-box;
}
#cont .select{
    width: 65vw;
    margin: 0 auto;
    display: flex;
    /* outline: 1px dotted red; */
}
#cont .select .selbx{
    height: 8vh;
    box-sizing: border-box;
}
#cont .select .selbx01{
    padding-right: 3vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#cont .select .selbx+.selbx{
    border-left: 1px solid rgba(204, 204, 204, 0.5);
}
#cont .selbx01 .hotel_sel{
    position: relative;
    width: 12vw;
    font-size: 1.8rem;
    line-height: 2;
    cursor: pointer;
    font-weight: 600;
    border-bottom: solid 2px #9c836a;
}
#cont .selbx01 .hotel_sel img{
    position: absolute;
    right: 0;
    bottom: 1.5vh;
}
#cont .select .strong{
    display: block;
    font-size: 1.4rem;
    color: #9c836a;
}
#cont .selbx02{
    padding: 0 3vw;
}
#cont .selbx02 ul,#cont .selbx03 ul{
    display: flex;
    cursor: pointer;
}
#cont .selbx02 li{
    display: flex;
    flex-wrap: wrap;
    width: 6vw;
}
#cont .selbx02 li:nth-child(2){
    margin-left: 3vw;
}
#cont .selbx02 li:nth-child(n+3){
    width: 3vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 1vw;
}
#cont .selbx02 li .strong{
    margin-bottom: 17px;
    width: 100%;
}
#cont .selbx02 p,
#cont .selbx02 em{
    display: inline-block;
}
#cont .selbx02 p{
    font-size: 1.2rem;
    margin-right: 10px;
}
#cont .selbx02 em{
    font-size: 3.2rem;
    font-weight: 500;
    font-style: normal;
}
#cont .selbx02 .night_icon{
    display: block;
    margin-bottom: 15px;
    width: 18px;
}
#cont .selbx02 .trip{
    font-size: 1.8rem;
    font-weight: 500;
}
#cont .selbx03 ul{
    padding-left: 3vw;
    align-items: center;
}
#cont .selbx03 li{
    text-align: center;
    width: 3vw;
}
#cont .selbx03 .adult,
#cont .selbx03 .children{
    margin-top: 17px;
    font-size: 3.2rem;
    font-weight: 500;
}
#cont .selbx03 li:last-child{
    width: 8vw;
    margin-left: 4vw;
}
#cont .select .select_btn{
    width: 100%;
    height: 6vh;
    font-size: 1.8rem;
    color: #fff;
    background-color: #9c836a;
    text-align: center;

}

/************** 2. promotion Section 영역 *************/
.promotion{
    background-color: #FBF9F6;
}
.promotion .pro_wrap{
    display: flex;
}
/* 왼쪽박스 */
.promotion .pro_wrap .pro_leftbx{
    width: 40%;
    box-sizing: border-box;
    padding: 0 3vw 0 7.5vw;
}
.promotion .pro_leftbx h2,
.promotion .pro_leftbx p{
    text-align: left;
}
.promotion .pro_leftbx p{
    margin-bottom: 5vh;
}
.promotion .pro_leftbx .pro_btn{
    font-size: 1.5rem;
    font-family: 'Ledger', serif;
    color: #D6A884;
    
}
.promotion .pro_leftbx .pro_btn:nth-of-type(2){
    margin-left: 4vw;
}
.promotion .pro_leftbx svg{
    margin-bottom: 3px;
    margin-left: 15px;
    transition: .3s ease-in-out;
}
.promotion .pro_leftbx .pro_btn:hover svg{
    transform: translateX(20px);
}
/* 오른쪽박스 */
.promotion .pro_wrap .pro_rightbx{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 5vw 0;
    /* outline: 1px dotted red; */
}
.promotion .pro_rightbx .pro_rsbox{
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
}
.promotion .pro_rightbx .pro_slider{
    display: flex;
    position: absolute;
    top: 0;
    left: -860px;
    width: 100%;
    height: 100%;
    gap: 0 50px;
}
.promotion .pro_rightbx .pro_slide{
    flex-shrink: 0;
    width: 380px;
}
.promotion .pro_rightbx .pro_slide a{
    display: block;
    width: 100%;
}
.promotion .pro_rightbx .pro_imgbx{
    position: relative;
}
.promotion .pro_rightbx .pro_imgbx img{
    width: 100%;
    height: 275px;
}
.promotion .pro_rightbx .pro_imgbx .pro_date{
    position: absolute;
    bottom: 5px;
    right: 8px;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 500;
}
.promotion .pro_rightbx .pro_txt{
    box-sizing: border-box;
    padding: 10px;
}
.promotion .pro_rightbx .pro_txt .pro_hashtag{
    font-size: 1.2rem;
    margin-bottom: 15px;
}
.promotion .pro_rightbx .pro_txt h3{
    font-size: 2.6rem;
    margin-bottom: 20px;
}
.promotion .pro_rightbx .pro_txt .pro_cont{
    font-size: 1.4rem;
    margin-bottom: 20px;

    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.promotion .pro_rightbx .pro_txt .pro_price{
    font-size: 2rem;
    font-weight: 500;
}

.promotion .pro_rightbx .slider_btnbox{
    position: relative;
    padding: 2.5vw 0 1vw;
    width: 80%;
}
.promotion .pro_rightbx .slide_info{
    position: absolute;
    right: 0;
    top: 0;
}
.promotion .pro_rightbx .slide_info .arr_btn{
    display: inline-block;
    width: 27px;
    height: 6px;
    opacity: .4;
    transition: .2s;
}
.promotion .pro_rightbx .slide_info .arr_btn+.arr_btn{
    margin-left: 30px;
}
.promotion .pro_rightbx .slide_info .arr_btn:hover{
    opacity: 1;
}
.promotion .pro_rightbx .slide_info .arr_btn .btn_svg{
    width: 27px;
    height: 6px;
}
.promotion .pro_rightbx .slider_btnbox .slide_bar{
    width: 100%;
    height: 2px;
    background-color: #d1d1d192;
    position: relative;
}
.promotion .pro_rightbx .slider_btnbox .slide_bar .move_bar{
    position: absolute;
    width: calc(100%/6);
    height: 2px;
    background-color: #c1c1c1;
    transition:  .2s ease-in-out;
    transform: translateX(0%);
    display: block;
}



/************** 3. event Section 영역 *************/
.event .eventbox{
    width: 100%;
    overflow: hidden;
    margin-top: 15vh;
    padding: 5vh 0;
}
.event .eventbox .event_flow{
    box-sizing: border-box;
    width: 7140px;
    display: flex;
    gap: 0 60px;
    animation: eventmove 60s linear infinite;
}
/* 흐르는 이미지박스 키프레임 */
@keyframes eventmove {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
  }
.event .eventbox .eventlist{
    box-sizing: border-box;
    width: 450px;
    aspect-ratio: 1120/610;
    flex-shrink: 0;
    animation-play-state: running;
}
.event .eventbox .eventlist:nth-child(odd){
    transform: translateY(-5vh);
    animation: eventmoveDOWN 20s linear infinite;
}
.event .eventbox .eventlist:nth-child(even){
    transform: translateY(5vh);
    animation: eventmoveUP 20s linear infinite;
}
/* 흐르는 이미지박스 UP 키프레임 */
@keyframes eventmoveUP {
    0% {
        transform: translateY(5vh);
    }
    50% {
        transform: translateY(-5vh);
    }
    100% {
        transform: translateY(5vh);
    }
}
/* 흐르는 이미지박스 DOWN 키프레임 */
@keyframes eventmoveDOWN {
    0% {
        transform: translateY(-5vh);
    }
    50% {
        transform: translateY(5vh);
    }
    100% {
        transform: translateY(-5vh);
    }
}


.event .eventbox .eventlist a{
    display: block;
    width: 100%;
    height: 100%;
}
.event .eventbox .eventlist a img{
    /* aspect-ratio: 1120/610; */
    width: 100%;
    height: 100%;
}




/************** 4. gallery Section 영역 *************/
.gallery{
    background-color: #FBF9F6;
    padding: 0;
}
.gallery .gal_wrap{
    width: 100%;
    display: flex;
}
.gallery .gal_leftbx{
    width: 50%;
    height: 100vh;
    background: url(../img/imagegallery_left.jpg) no-repeat center/cover;
}
.gallery .gal_rightbx{
    width: 50%;
    box-sizing: border-box;
    padding-top: 15vh;
}
.gallery .gal_rightbx .gal_slider{
    margin: 10vh 0 0 5vw;
    display: flex;
    gap: 0 3vw;
    box-sizing: border-box;
    overflow: hidden;
}
.gallery .gal_rightbx .gal_slide{
    width: 350px;
}
.gallery .gal_rightbx .gal_slide a{
    display: block;
    width: 100%;
}
.gallery .gal_rightbx .gal_slide .gal_imgbx{
    width: 350px;
    height: 350px;
    margin-bottom: 2vh;
}
.gallery .gal_rightbx .gal_slide .gal_imgbx img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.gallery .gal_rightbx .gal_slide h4{
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Ledger', serif;
    letter-spacing: -2px;
    text-align: center;
}



/************** 5. membership Section 영역 *************/
.memberbox{
    border: 1px solid #000;
}
.memberbox .memslider{
    display: flex;
    justify-content: center;
}
.memberbox .memslider .memlist{
    width: 20%;
    display: flex;
    flex-direction: column;
}
.memberbox .memslider .memlist.memcenter{
    width: 35%;
}
.memberbox .memslider .memlist .cardbox{
    position: relative;
    height: 40vh;
    border: 1px solid red;
}
.memberbox .memslider .memlist .cardbox ul{
    
}
.memberbox .memlist .cardbox .cardlist{
    /* display: none; */
    position: absolute;
}
.memberbox .memlist .cardbox .cardlist img{}
.memberbox .memslider .memlist .memtxtbox{
    text-align: center;
}
.memberbox .memslider .memlist .memname{
    font-family: 'Ledger', serif;
    font-size: 2.2rem;
    font-weight: 500;
    color: rgba(184, 184, 184, 0.5);
}
.memberbox .memslider .memlist.memcenter .memname{
    font-size: 2.5rem;
    font-family: 'Ledger', serif;
    color: #333;
    margin-bottom: 45px;
}
.memberbox .memslider .memlist.memcenter .memcontent{
    font-size: 1.4rem;
    line-height: 1.6;
}




/************** 6. landmark Section 영역 *************/
.landmark{
    padding: 10vh 0;
    width: 100%;
    height: 65vh;
    background: url(../img/footer.jpg) no-repeat 0 0/cover;
}
.landmark .land_txt p{
    text-align: center;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 3vh;
}
.landmark .land_txt h1{
    width: 13vw;
    margin: 0 auto;
}
.landmark .land_txt h1 img{
    width: 100%; height: 100%;
    object-fit: cover;
}

















/************** footer 영역 *************/
.footer{
    background-color: #21201e;;
}
.footer .f_section:first-child{
    border-bottom: 1px solid rgba(94, 94, 94, 0.3);
}
/* top footer */
.footer .f_sec{
    width: 1200px;
    margin: 0 auto;
    padding: 5vh 0;
    display: flex;
}
.footer .fbx01>div{
    flex: 1;
}
.footer .fbx01 h3{
    color: #9c836a;
    font-size: 1.6rem;
    margin-bottom: 2vh;
}
.footer .fbx01_1 ul{
    display: flex;
    flex-wrap: wrap;
}
.footer .fbx01_1 li{
    width: 60%;
    color: rgba(255,255,255,0.8);
    font-size: 1.4rem;
    font-weight: 300;
}
.footer .fbx01_1 li+li{
    margin-top: 10px;
}
.footer .fbx01_1 li:nth-child(odd){
    font-weight: 800;
    width: 40%;
}
.footer .fbx01_2 p{
    color: rgba(255,255,255,0.8);
    font-size: 1.4rem;
    font-weight: 300;
    margin-bottom: 15px;
}
.footer .fbx01_2 img+img{
    margin-left: 10px;
}
.footer .fbx01_3{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.footer .fbx01_3 .family{
    position: relative;
    width: 10vw;
    height: 3vh;
    line-height: 3vh;
    background: #272624;
    color: rgba(255,255,255,0.8);
    font-size: 1.5rem;
    padding: 1vh 1vw;
    margin-bottom: 25px;
}
.footer .fbx01_3 .family img{
    position: absolute;
    right: 1vw;
    top: 50%;
    transform: translateY(-50%);
}
.footer .fbx01_3 .sns{
    display: flex;
}
.footer .fbx01_3 .sns h3{
    color: rgba(255,255,255,0.8);
    font-size: 1.4rem;
    margin-right: 2vw;
    height: 24px;
    line-height: 24px;
}
.footer .fbx01_3 .sns ul{
    display: flex;
}
.footer .fbx01_3 .sns li a{
    display: block;
    width: 24px;
    height: 24px;
    font-size: 0;
    background: url(../img/sns_list.svg) no-repeat;
}
.footer .fbx01_3 .sns li:nth-child(1) a{
    background-position: 0 0;
}
.footer .fbx01_3 .sns li:nth-child(2) a{
    margin-left: 24px;
    background-position: -48px 0;
}
.footer .fbx01_3 .sns li:nth-child(3) a{
    margin-left: 24px;
    background-position: -96px 0;
}
/* bottom footer */
.footer .fbx02{
    justify-content: space-between;
}
.footer .fbx02 .fbx02_1 ul{
    display: flex;
    margin-bottom: 20px;
}
.footer .fbx02 .fbx02_1 li{
    position: relative;
}
.footer .fbx02 .fbx02_1 li+li{
    margin-left: 30px;
}
.footer .fbx02 .fbx02_1 li::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 90%;
    background-color: rgba(87, 87, 87, 0.8);
    right: -15px;
    bottom: 0;
}
.footer .fbx02 .fbx02_1 a{
    display: block;
    color: rgba(255,255,255,0.8);
    font-size: 1.4rem;
    font-weight: 600;
}
.footer .fbx02 .fbx02_1 address{
    font-size: 1.2rem;
    color: rgba(255,255,255,0.2);
    font-style: normal;
}
.footer .fbx02 .fbx02_1 address p:first-child{
    margin-bottom: 10px;
}
.footer .fbx02 .fbx02_2{
    display: flex;
}
.footer .fbx02 .fbx02_2 img{
    width: 60px;
    height: 60px;
}
.footer .fbx02 .fbx02_2 img+img{
    margin-left: 1vw;
}