@charset "utf-8";

/* 파라다이스시티 PJ 메인 페이지 CSS - main.css */

/* 외부 공통 CSS 합치기 */
@import url(reset.css);
@import url(core.css);
@import url(common.css);


/************************* 초기화 *************************/
html, body, h1, h2, h3, h4, h5, h6, p, figure,
ul, ol, dl, dt, dd{
    margin: 0;
    padding: 0;
}
ul, ol{
    list-style: none;
    /* 블릿,숫자없앰 */
}
a{
    text-decoration: none;
    color: #333;
}


/********************* 헤더 영역 *********************/
#top{
    width: 100%;
    height: 94px;
    background-color: transparent;
    position: fixed;
    top: 0;
    z-index: 9999;
    padding: 0 50px 0 30px;
    box-sizing: border-box;
}
.top{
    display: flex;
    justify-content: space-between;
}
.top .logo{
    width: 213px;
    height: 32px;
    margin-top: 48px;
}
.top .logo a{
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.top .gnb{
    margin: 50px 0 0 -120px;
    font-size: 14px;
    font-weight: bold;
}
.top .gnb ul{
    display: flex;
}
.top .gnb ul li{
    padding: 10px 20px;
}
.top .gnb ul li a{
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    white-space: nowrap;
}
.top .gnb ul li:first-child a{
    color: #dfbf9f;
}
 .top .logbx{
    margin-top: 10px;
 }
 .top .logbx ul{
    display: flex;
 }
 .top .logbx ul li{
    padding: 10px;
 }
 .top .logbx ul li a{
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 12px;
    white-space: nowrap;
 }




/************************ 메인영역 ************************/
#cont{
    width: 100%;
    box-sizing: border-box;
}
#cont .cont{
    position: relative;
}
#cont .cbx ul{
    display: flex;
}
#cont .cbx ul li{
    width: 20%;
    height: 90vh;
    position: relative;
    overflow: hidden;
    border-right: 1px solid rgba(204, 204, 204, 0.2);
    transition: top .3s;
}
#cont .cbx1 ul li:last-child{
    border-right: none;
}
#cont .cbx2 ul li:nth-child(1){
    background: url(./images/main1-1.jpg) no-repeat center/cover;
}
#cont .cbx2 ul li:nth-child(2){
    background: url(./images/main2-2.jpg) no-repeat center/cover;
}
#cont .cbx2 ul li:nth-child(3){
    background: url(./images/main3-3.jpg) no-repeat center/cover;
}
#cont .cbx2 ul li:nth-child(4){
    background: url(./images/main4-4.jpg) no-repeat center/cover;
}
#cont .cbx2 ul li:nth-child(5){
    background: url(./images/main5-5.jpg) no-repeat center/cover;
}

#cont .cbx2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    outline: 1px dotted red;
}
#cont .cbx2 ul li{
    outline: 1px dotted red;
}



/* 연습공간 */
#cont .cbx2 ul li:hover{
    background: none;
}
#cont .cbx1 ul li:nth-child(1){
    background: url(./images/main1.jpg) no-repeat center/cover;
}
#cont .cbx1 ul li:nth-child(2){
    background: url(./images/main2.jpg) no-repeat center/cover;
}
#cont .cbx1 ul li:nth-child(3){
    background: url(./images/main3.jpg) no-repeat center/cover;
}
#cont .cbx1 ul li:nth-child(4){
    background: url(./images/main4.jpg) no-repeat center/cover;
}
#cont .cbx1 ul li:nth-child(5){
    background: url(./images/main5.jpg) no-repeat center/cover;
}














/* 연습공간 */




#cont .tbx{
    width: 65%;
    margin: 300px 0 0 30px;
}
#cont .tbx h3{
    color: #fff;
    margin-bottom: 13px;
    font: bold 22px 'roboto';
}
#cont .tbx h3::before{
    content:'';
    display: block;
    width: 25px;
    height: 25px;
    margin-bottom: 22px;
}
#cont li:nth-child(1) .tbx h3::before{
    background: url(./images/W_icon_Hospitality.svg) no-repeat center/cover;
}
#cont li:nth-child(2) .tbx h3::before{
    background: url(./images/W_icon_Cimer.svg) no-repeat center/cover;
}
#cont li:nth-child(3) .tbx h3::before{
    background: url(./images/W_icon_Wonderbox.svg) no-repeat center/cover;
}
#cont li:nth-child(4) .tbx h3::before{
    background: url(./images/W_icon_Casino.svg) no-repeat center/cover;
}
#cont li:nth-child(5) .tbx h3::before{
    background: url(./images/W_icon_Inspiration.svg) no-repeat center/cover;
}
#cont .tbx p{
    color: #fff;
    font-size: 12px;
}

#cont .sbx{
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: -200px;
    box-sizing: border-box;
    transition: .5s;
}
#cont li:nth-child(1) .sbx{ background-color: #0a78b1; }
#cont li:nth-child(2) .sbx{ background-color: #b69be2; }
#cont li:nth-child(3) .sbx{ background-color: #98319d; }
#cont li:nth-child(4) .sbx{ background-color: #94140a; }

#cont ul li:hover .sbx{
    bottom: 0;
}
#cont .sbx a{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 25px;
}
#cont .sbx a h4{
    color: #fff;
    font-size: 14px;
    margin-bottom: 50px;
}
#cont .sbx a span{
    color: #fff;
    font-size: 14px;
}
#cont .sbx span::after{
    content: '';
    display: block;
    width: 40px;
    height: 15px;
    background: url(./images/btn_quick_arrow.png) no-repeat center/100%;
    margin-top: 15px;
    transition: .5s;
}
#cont .sbx:hover span::after{
    margin-left: 35px;
}









#cont .select{
    width: 100%;
    height: 10vh;
    background-color: rgb(240, 240, 240);
    box-sizing: border-box;
}
#cont .select .selbx{
    width: 1200px;
    margin: 0 auto;
    display: flex;
}
#cont .select .selbx div{
    width: 33.3%;
    height: 10vh;
    border: 1px solid #000;
    box-sizing: border-box;
}