@charset "utf-8";

/* 파라다이스시티 PJ 메인 페이지 CSS - main.css */

/* 외부 공통 CSS 합치기 */
@import url(reset.css);
@import url(core.css);
@import url(common.css);

body{
    height: 3000px;
}

/********************* 헤더 영역 *********************/




/************************ 메인영역 ************************/
.cbx1_tbx {
    opacity: 1;
    color: #fff;
}
#cont{
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

#cont .cont{
    height: 88vh;
    position: relative;
}
#cont .cbx{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#cont li{
    flex: 1;
    height: 100%;
    border-right: 1px solid rgba(204, 204, 204, 0.2);
}
#cont .cbx2 li:nth-child(1){
    background: url(../img/main_small01.jpg) no-repeat center/cover;
}
#cont .cbx2 li:nth-child(2){
    background: url(../img/main_small02.jpg) no-repeat center/cover;
}
#cont .cbx2 li:nth-child(3){
    background: url(../img/main_small03.jpg) no-repeat center/cover;
}
#cont .cbx2 li:nth-child(4){
    background: url(../img/main_small04.jpg) no-repeat center/cover;
}
#cont .cbx2 li:nth-child(5){
    border-right: none;
    background: url(../img/main_small05.jpg) no-repeat center/cover;
}
#cont .cbx2 .accordion{
    position: absolute;
    top: 0;
    width: 20%;
    height: 100%;
    opacity: 0;
}
@keyframes big {
    0%{
        transform: scale(1);
    }
    100%{
         transform: scale(1.1);
    }
}

#cont .cbx2 li:nth-child(1) .accordion{
    left: 0;
    background: url(../img/main_big01.jpg) no-repeat fixed center/cover;
}
#cont .cbx2 li:nth-child(2) .accordion{
    left: 20%;
    right: 40%;
    background: url(../img/main_big02.jpg) no-repeat fixed center/cover;
}
#cont .cbx2 li:nth-child(3) .accordion{
    left: 40%;
    right: 60%;
    background: url(../img/main_big03.jpg) no-repeat fixed center/cover;
}
#cont .cbx2 li:nth-child(4) .accordion{
    left: 60%;
    right: 80%;
    background: url(../img/main_big04.jpg) no-repeat fixed center/cover;
}
#cont .cbx2 li:nth-child(5) .accordion{
    left: 80%;
    right: 100%;
    background: url(../img/main_big05.jpg) no-repeat fixed center/cover;
}
#cont .cbx1 li:nth-child(1) .accordion{
    left: 0;
}
#cont .cbx1 li:nth-child(2) .accordion{
    left: 20%;
    right: 40%;
}

#cont .cbx1 li:nth-child(3) .accordion{
    left: 40%;
    right: 60%;
}
#cont .cbx1 li:nth-child(4) .accordion{
    left: 60%;
    right: 80%;
}
#cont .cbx1 li:nth-child(5) .accordion{
    left: 80%;
    right: 100%;
}

#cont .cont_tbx{
    width: 65%;
    margin: 300px 0 0 30px;
}
#cont .cont_tbx h3{
    color: #fff;
    margin-bottom: 13px;
    font: bold 22px 'roboto';
}
#cont .cont_tbx h3::before{
    content:'';
    display: block;
    width: 25px;
    height: 25px;
    margin-bottom: 22px;
}
#cont li:nth-child(1) .cont_tbx h3::before{
    background: url(../img/W_icon_Hospitality.svg) no-repeat center/cover;
}
#cont li:nth-child(2) .cont_tbx h3::before{
    background: url(../img//W_icon_Cimer.svg) no-repeat center/cover;
}
#cont li:nth-child(3) .cont_tbx h3::before{
    background: url(../img//W_icon_Wonderbox.svg) no-repeat center/cover;
}
#cont li:nth-child(4) .cont_tbx h3::before{
    background: url(../img//W_icon_Casino.svg) no-repeat center/cover;
}
#cont li:nth-child(5) .cont_tbx h3::before{
    background: url(../img//W_icon_Inspiration.svg) no-repeat center/cover;
}
#cont .cont_tbx p{
    color: #fff;
    font-size: 12px;
}
#cont .cont_sbx{
    width: 20%;
    height: 200px;
    position: absolute;
    bottom: -200px;
    box-sizing: border-box;
    transition: .5s;
}
#cont li:nth-child(1) .cont_sbx{ background-color: #0a78b1; }
#cont li:nth-child(2) .cont_sbx{ background-color: #b69be2; }
#cont li:nth-child(3) .cont_sbx{ background-color: #98319d; }
#cont li:nth-child(4) .cont_sbx{ background-color: #94140a; }

#cont ul li:hover .cont_sbx{
    bottom: 0;
}
#cont .cont_sbx a{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 25px;
}
#cont .cont_sbx a h4{
    color: #fff;
    font-size: 14px;
    margin-bottom: 50px;
}
#cont .cont_sbx a span{
    color: #fff;
    font-size: 14px;
}
#cont .cont_sbx span::after{
    content: '';
    display: block;
    width: 40px;
    height: 15px;
    background: url(../img/btn_quick_arrow.png) no-repeat center/100%;
    margin-top: 15px;
    transition: .5s;
}
#cont .cont_sbx:hover span::after{
    margin-left: 35px;
}

/***** 예약파트 *****/
#cont .reservation{
    width: 100%;
    height: 12vh;
    background-color: rgb(240, 240, 240);
    padding: 2vh 0;
    box-sizing: border-box;
}
#cont .select{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    outline: 1px dotted red;
}
#cont .select .selbx{
    height: 8vh;
}
#cont .select .selbx01{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#cont .select .selbx+.selbx{
    border-left: 1px solid rgba(204, 204, 204, 0.5);
}
#cont .selbx01 .hotel_sel{
    position: relative;
    width: 15vw;
    font-size: 1.8rem;
    line-height: 2;
    cursor: pointer;
    font-weight: 600;
    border-bottom: solid 2px #9c836a;
}
#cont .selbx01 .hotel_sel img{
    position: absolute;
    right: 0;
    bottom: 1.5vh;
}
#cont .select .strong{
    display: block;
    font-size: 1.4rem;
    color: #9c836a;
}
#cont .selbx02 ul,.selbx03 ul{
    display: flex;
}
#cont .selbx02 li{
    display: flex;
    flex-wrap: wrap;
    border-right: none;
}
#cont .selbx02 li+li{
    margin-left: 5vw;
}
#cont .selbx02 li .strong{
    margin-bottom: 17px;
    width: 100%;
}

#cont .selbx02 p,
#cont .selbx02 em{
    display: inline-block;
}
#cont .selbx02 p{
    font-size: 1.2rem;
    margin-right: 10px;
}
#cont .selbx02 em{
    font-size: 3.2rem;
    font-weight: 500;
    font-style: normal;
}












#cont .select .select_btn{
    width: 160px;
    height: 56px;
    font-size: 1.8rem;
    color: #fff;
    background-color: #9c836a;
    text-align: center;
}

/************** footer 영역 *************/
.footer{
    background-color: #21201e;;
}
.footer .f_section:first-child{
    border-bottom: 1px solid rgba(94, 94, 94, 0.3);
}
.footer .f_sec{
    width: 1200px;
    margin: 0 auto;
    padding: 5vh 0;
    display: flex;
}
.footer .f_sec>div{
    flex: 1;
}
.footer .f_sec h3{
    color: #9c836a;
    font-size: 1.6rem;
    margin-bottom: 2vh;
}