@charset "utf-8";

/* 파라다이스시티 PJ 메인 미디어쿼리 - mainmedia.css */

/* 1300px 사이즈 이하 미디어쿼리 시작 */
@media screen and (max-width: 1300px) {


    .promotion .pro_wrap{
        flex-direction: column;
        padding-left: 7.5vw;
        box-sizing: border-box;
    }
    .promotion .pro_wrap .pro_leftbx{
        width: 100%;
        padding: 0;
        margin-bottom: 60px;
    }
    .promotion .pro_wrap .pro_rightbx{
        width: 100%;
    }


}

/* 768px 사이즈 이하 미디어쿼리 시작 */
@media screen and (max-width: 768px) {

    /****************** 메인영역 ****************/
    .cont{
        /* display: none; */
    }

}