@charset "utf-8";

/* 베르판 PJ 메인 페이지 CSS - main.css */

/* 외부 공통 CSS 합치기 */
@import url(reset.css);
@import url(core.css);
@import url(common.css);



/********************* 공통 영역 *********************/

:root{
    --swiper-theme-color: #f9f9f9;
}





/************************ 메인영역 ************************/

/************ 1. 메인영상 영역 시작 *************/
.main{
    position: relative;  
}
.main .mbox{
    height: 75vh;
}
.main .mbox .bgvideo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main .mtxt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.main .mtxt h2{
    font-size: 3.5rem;
    color: #fff;
    margin-bottom: 25px;
}
.main .mtxt .btn{
    color: #fff;
    border: 1px solid #fff;
    padding: 15px 20px;
}


/************ 8. designer Section 시작 *************/
.designer{
    display: flex;
    align-items: center;
    gap: 0 7vw;
    padding: min(20vw,80px) min(25vw,200px);
    background-color: #ffab00;
    color: #fff;
}
.designer .dtxtbx{
    width: 30%;
}
.designer .dtxtbx h2{
    font-size: 4rem;
    margin-bottom: 20px;
}
.designer .dtxtbx h2 span{
    display: block;
    font-size: 1.3rem;
    letter-spacing: 1px;
    margin-bottom: 5px;
}
.designer .dtxtbx p{
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 30px;
}
.designer .dtxtbx .btn{}
.designer .dimgbx{
    width: 70%;
}
.designer .dimgbx img{
    width: 100%;
    object-fit: cover;
}

/************ 9. sketch Section 시작 *************/
.sketch{
    padding: min(20vw,100px) 0;
}
.sketch .sketchbox{
    display: flex;
    gap: 0 min(5vw,50px);
    justify-content: center;
}
.sketch .sketchbox li{
    width: min(20vw,400px);
}
.sketch .sketchbox li .simgbox{
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
}
.sketch .sketchbox li .simgbox img{
    width: 100%;
    object-fit: cover;
    transition: 5s;
}
.sketch .sketchbox li .simgbox:hover img{
    transform: scale(1.3);
}
.sketch .sketchbox li h3{
    font-size: 1.4rem;
    font-weight: 500;
}




