@charset "utf-8";
/* NewsDetail 모듈용 CSS - newsdetail.css  */
.cul_detail{
    padding: 200px 20px;
}
/* 상세정보박스 */
.cul_detail .cultit{
    text-align: center;
    font-family: 'Cinzel', serif;
    font-size: 70px;
    font-weight: 300;
    letter-spacing: 3px;
    margin-bottom: 100px;
}
.cul_detail .cultit span{
    display: block;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Noto Sans KR', sans-serif;
    margin-top: 15px;
    font-style: italic;
}

/* 정보박스 텍스트영역 */
.cul_detail .descbx{
    width: 50%;
    margin: 0 auto;
    border: 1px solid #ccc;
}
.cul_detail .descbx .desc_txt{
    padding: 50px;
}
.cul_detail .descbx .desc_txt h3{
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 50px;
    word-break: keep-all;
}
.cul_detail .descbx .desc_txt .desc_cont span{
    display: inline-block;
    margin-right: 15px;
    color: #ababab;
}
.cul_detail .descbx .desc_txt .desc_cont{
    margin: 20px 0;
    font-size: 18px;
}

/* 정보박스 이미지영역 */
.cul_detail .descbx .desc_img{
    width: 100%;
    border-top: 1px solid #ccc;
}
.cul_detail .descbx .desc_img img{
    width: 100%;
    object-fit: cover;
}

.cul_detail .before{
    display: block;
    margin: 0 auto;
    border: 1px solid #000;
    border-radius: 25px;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 18px;
    margin-top: 40px;
    transition: .3s;
}
.cul_detail .before:hover{
    color: #fff;
    background-color: #000;
}





/* ********************************************************** */

/* 1000px 사이즈 이하 미디어쿼리 시작 */
@media screen and (max-width: 1000px) {

    /* 정보박스 텍스트영역 */
    .cul_detail .descbx{
        width: 85%;
    }

}



/* 500px 사이즈 이하 미디어쿼리 시작 */
@media screen and (max-width: 500px) {

    .cul_detail{
        padding: 140px 20px;
    }

    .cul_detail .cultit{
        font-size: 50px;
    }
    .cul_detail .cultit span{
        font-size: 15px;
    }

    .cul_detail .descbx .desc_txt{
        padding: 30px;
    }
    .cul_detail .descbx .desc_txt h3{
        font-size: 25px;
    }
    .cul_detail .descbx .desc_txt .desc_cont{
        font-size: 14px;
    }

}
