@charset "utf-8";

main.cont{
    /* 최소높이 상단,하단제외 채우기
    - 하단 영역에 흰여백이 생기는 일이 없어짐! */
    min-height: calc(100vh - 250px);
    position: relative;
}

/********************* 헤더 영역 *********************/
.top{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 40px;
    transition: background-color .3s;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
    border-bottom: 1px solid #ccc;

}

/* pc버전 */
.top .pcmenu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
}
.top .logo{
    width: 170px;
}
.top .logo img{
    width: 100%;
    object-fit: cover;
}
.top .pcmenu .menu_list,
.top .pcmenu .menu_login{
    display: flex;
    gap: 0 2vw;
}
.top .pcmenu li{
    position: relative;
    cursor: pointer;
}
.top .pcmenu li::after{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    bottom: -27px;
    height: 1px;
    width: 100%;
    background-color: #333;
    opacity: 0;
    transition: .3s;
}
.top .pcmenu li:hover::after{
    opacity: 1;
}


/* 햄버거버튼 */
.top .ham{
    display: none;
}
/* 모바일버전 메뉴 */
.top .momenu{
    display: none;
}

/********************* 푸터 영역 *********************/
.info{
    height: 250px;
    padding: 0 40px ;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info .foot_up{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}
.info .foot_up li{
    color: #fff;
    padding: 5px 10px;
    font-size: 12px;
}
.info .foot_up li a{
    color: #fff;
}
.info .foot_down{
    display: flex;
    justify-content: center;
}







/* 1000px 사이즈 이하 미디어쿼리 시작 */
@media screen and (max-width: 1000px) {

    /************* top 영역 ***************/
    .top .logmsg{
        display: none;
    }
    .top .pcmenu .menu_list,
    .top .pcmenu .menu_login{
        display: none;
    }

    /*  햄버거 버튼 */
    .top .ham{
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px 0;
        cursor: pointer;
    }
    .top .ham div{
        width: 30px;
        height: 2px;
        background-color: #555;
    }
    /* 모바일버전 메뉴 */
    .top .momenu{
        display: block;
        position: absolute;
        z-index: 9;
        top: -500px;
        left: 0;
        background-color: #fff;
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: .5s;
    }
    /* 닫기버튼 */
    .top .momenu .close{
        position: absolute;
        right: 40px;
        top: -53px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px 0;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background-color: #fff;
        border: none;
    }
    .top .momenu .close div{
        position: absolute;
        top: 12px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #555;
    }
    .top .momenu .close .close_top{
        transform: rotate(45deg);
    }
    .top .momenu .close .close_bottom{
        transform: rotate(-45deg);
    }
    .top .momenu .momenubox{
        padding: 0 40px;
    }
    .top .momenu .momenubox .momenu_list li{
        padding: 20px;
        border-bottom: 1px solid #ccc;
        text-align: center;
    }
    .top .momenu .momenubox .momenu_list li:hover{
        border-bottom: 1px solid #969696;
        font-weight: 600;
    }
    .top .momenu .momenubox .momenu_login{
        display: flex;
        justify-content: space-around;
        padding: 20px 0;
        border-bottom: 1px solid #ccc;
    }
    .top .momenu .momenubox .momenu_login li{
        padding: 10px 30px;
        border: 1px solid #ccc;
        cursor: pointer;
        transition: .3s;
    }
    .top .momenu .momenubox .momenu_login li:hover{
        color: #fff;
        background-color: #000;
    }
    .top .momenu .momenubox .momenu_login li:hover a{
        color: #fff;
    }


    

    
}


/* 800px 사이즈 이하 미디어쿼리 시작 */
@media screen and (max-width: 800px) {


    




}



/* 500px 사이즈 이하 미디어쿼리 시작 */
@media screen and (max-width: 500px) {

    /******** 헤더 *********/
    .top{
        padding: 20px 20px;
    }
    /* 닫기버튼 */
    .top .momenu .close{
        right: 20px;
    }
    .top .momenu .momenubox{
        padding: 0 20px;
    }
    /******** 푸터 *********/
    .info{
        padding: 40px 20px;
    }
    
}

















/* .slidebanner{
    position:relative;
    height:50px;
    width:985px;
    overflow:hidden;
}
.slidebanner .bannerbox{
    position:absolute;
    margin:0;
    padding:0;
}
.slidebanner li{
    float:left;
    list-style:none;
    margin-left:10px
}
.slidebanner li:first-child{
    margin:0
} */