@charset "utf-8";
/* 매거진페이지 CSS - magazine.css  */

.magazine_sec{
    padding-top: 75px;
}
.magazine_sec .videobox{
    width: 100%;
    height: calc(100vh - 75px);
    aspect-ratio: 16/9;
    overflow: hidden;
    position: relative;
}
.magazine_sec .videobox video{
    width: 100%;
    object-fit: cover;
}
.magazine_sec .vbx_text{
    position: absolute;
    left: 80px;
    bottom: 180px;
}
.magazine_sec .vbx_text h2{
    font-style: italic;
    color: #fff;
    font-size: 90px;
    font-weight: 400;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.39);
}
.magazine_sec .vbx_text h2 span{
    display: block;
    font-style: normal;
}

.magazine_sec .vbx_text .playbtn{
    color: #fff;
    font-size: 22px;
    letter-spacing: 1px;
    display: block;
    border: 1px solid #fff;
    padding: 10px 30px;
    border-radius: 25px;
    position: absolute;
    right: 0;
}