@charset "utf-8";
/* 메인용 CSS - main.css */


/********************* 1. 메인 인트로 슬라이드 *********************/
.main_intro{
    width: 100%;
    height: 100vh;
    position: relative;
}
.main_intro .slidebox{
    width: 70%;
    height: 65vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #000;
    overflow: hidden;
}
.main_intro .slidebox .slidelist{
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.main_intro .slidebox .slidelist img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.main_intro .slidebox .slidelist .sl_bottom{
    width: 100%;
    object-fit: cover;
}
.main_intro .slidebox .slidelist .sl_top{
    width: 60%;
    object-fit: cover;
   
}


 /********************* 2. 쇼핑 뉴스 영역 *********************/
 .newswbox{
   /* max-width: 1320px; */
   /* margin: 0 auto; */
   padding: 120px 0;
   }





 /********************* 3. 쇼핑 핫키워드 영역 *********************/
 .hotbox{
    box-sizing: border-box;
    padding: 200px 50px;
    border-top: 1px solid #ccc;
    display: flex;
    gap: 0 40px;
 }
 .hotbox .hot_tit{
    width: 45%;
 }
 .hotbox .hot_tit h2{
    font-family: 'Cinzel', serif;
    font-size: min(60px,20vw);
    font-weight: 500;
    margin-bottom: 15px;
 }
 .hotbox .hot_tit p{
    font-size: 18px;
    word-break: keep-all;
 }

 .hotbox .hot_cont li{
    display: flex;
    flex-wrap: wrap;
    flex-direction: colume;
    align-items: center;
    font-size: 20px;
    letter-spacing: 1px;
    white-space: nowrap;
 }
 .hotbox .hot_cont span{
   white-space: nowrap;
 }
 .hotbox .hot_cont .iconbox img{
    width: 50px;
 }
 .hotbox .hot_cont .hashtag{
    display: inline-block;
    background-color: #000;
    padding: 7px 12px;
    border-radius: 20px;
    color: #fff;
    margin: 15px 5px;
 }


  /********************* 4. 쇼핑 갤러리 영역 *********************/
  .galbox{
    background-color: hsl(277, 81%, 55%);
    height: 150vh;
    overflow: hidden;
    position: relative;
  }
  .galbox .tit{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: min(20vw,450px);
    color: #fff;
    font-family: 'Cinzel', serif;
    font-weight: 500;
    padding-left: 0;
  }


  /********************* 5. 문화센터 영역 *********************/
  .culbox{
      padding: 160px 40px;
  }
  .culbox .culbox_top{
      margin-bottom: 40px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
  }
  .culbox .tit{
      font-family: 'Cinzel', serif;
      padding: 0 20px;
      font-size: 120px;
      font-weight: 400;
  }
  .culbox .morebtn{
      margin-right: 20px;
      border: 1px solid #000;
      padding: 10px 20px;
      border-radius: 25px;
      transition: .3s;
      font-size: 16px;
      font-weight: 500;
      white-space: nowrap;
  }
  .culbox .morebtn:hover{
      background-color: #000;
      color: #fff;
  }


  /********************* 6. 매거진 영역 *********************/
  .magazinebox{
      padding: 120px 0;
      /* background-color: #000; */
  }
  .magazinebox .tit{
      font-family: 'Cinzel', serif;
      font-size: min(14vw,120px);
      font-weight: 400;
      text-align: center;
      margin-bottom: -60px;
      color: #fff;
      width: 100%;
      position: relative;
      z-index: 1;
  }
  .magazinebox .mgslide_box{
      width: 50%;
      margin: 0 auto;
      background-color: #8a2c44;
      /* background-color: #000; */
      padding: 80px 40px;
  }

  /********************* 7. 롯데인스타 영역 *********************/
  .instabox{
      padding: 150px 0;
  }
  .instabox .tit{
      padding: 20px;
      text-align: center;
      font-family: 'Cinzel', serif;
      margin-bottom: 60px;
      color: #fff;
      font-size: 60px;
  }
  .instabox .tit span{
      display: block;
      margin-bottom: 20px;
      font-family: 'Noto Sans KR', sans-serif;
      font-size: 35px;
  }

  .instabox .insban{
      display: block;
      cursor: pointer;
      overflow: hidden;
  }
  .instabox .insban .insbanbox{
      display: flex;
      margin-bottom: 20px;
      box-sizing: border-box;
      width: 6120px;
      
  }
  .instabox .insbanbox li{
      flex-shrink: 0;
      overflow: hidden;
      width: 150px;
      height: 150px;
      margin-left: 20px;
      animation-play-state: running;
      box-sizing: border-box;
  }
  .instabox .insbanbox li img{
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
  .instabox .insban_top{
      animation: eventmovetop 40s linear infinite;
  }
  .instabox .insban_bottom{
      animation: eventmovebottom 40s linear infinite;
  }

   /* 흐르는 이미지박스 키프레임 */
   @keyframes eventmovetop {
      0% {
         transform: translateX(0);
      }
      100% {
         transform: translateX(-50%);
      }
   }
   @keyframes eventmovebottom {
      0% {
         transform: translateX(-50%);
      }
      100% {
         transform: translateX(0);
      }
   }





/********************************************************************************/
  /* 1200px 사이즈 이하 미디어쿼리 시작 */
@media screen and (max-width: 1200px) {

   /********* 3. 쇼핑 핫키워드 영역 ********/
   .hotbox{
      gap: 60px 0;
      flex-wrap: wrap;
   }
   .hotbox .hot_tit{
      width: 100%;
   }

   /********************* 5. 문화센터 영역 *********************/
   .culbox .culbox_top{
      flex-wrap: wrap;
      justify-content: flex-end
   }
   .culbox .tit{
      width: 100%;
      padding: 0;
      font-size: min(15vw,120px);
      margin-bottom: 20px;
   }
   .culbox .morebtn{
      margin-right: 0;
   }

}



  /* 800px 사이즈 이하 미디어쿼리 시작 */
@media screen and (max-width: 800px) {

   /********* 3. 쇼핑 핫키워드 영역 ********/
   .hotbox .hot_cont li{
      font-size: 14px;
   }

   /************** 6. 매거진 영역 ***********/
   .magazinebox .mgslide_box{
      padding: 80px 30px 30px; 
      width: 70%;
   }


   /************** 7. 인스타 영역 ****************/
   .instabox .tit{
      font-size: 40px;
   }
   .instabox .tit span{
      font-size: 20px;
   }

}


  /* 500px 사이즈 이하 미디어쿼리 시작 */
@media screen and (max-width: 500px) {

   /********* 4. 쇼핑 갤러리 영역 ********/
   .galbox{
      height: 100vh;
   }

   /************ 5. 문화센터 영역 ***********/
   .culbox .morebtn{
      font-size: 12px;
   }

   /************ 6. 매거진 영역 ***********/
   .magazinebox {
      padding: 80px 0;
   }

   /************** 7. 인스타 영역 ****************/
   .instabox{
      padding: 80px 0;
   }
   .instabox .tit{
      font-size: 33px;
   }
   .instabox .tit span{
      font-size: 18px;
   }

}