@charset "utf-8";
/* News 모듈용 CSS - news.css  */

.news_sec{
    padding: 200px 20px;
}
.news_sec .shoptit{
    text-align: center;
    font-family: 'Cinzel', serif;
    font-size: 70px;
    font-weight: 300;
    letter-spacing: 3px;
    margin-bottom: 100px;
}
.news_sec .shoptit span{
    display: block;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Noto Sans KR', sans-serif;
    margin-top: 15px;
    font-style: italic;
}

.news_sec .shoplist{
    display: flex;
    justify-content: center;
    gap: 20px 15px;
    flex-wrap: wrap;
    margin-bottom: 80px;
}
.news_sec .shoplist li{
    padding: 10px 15px;
    border: 1px solid #555;
    border-radius: 22px;
    word-break: keep-all;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.news_sec .shoplist li:first-child{
    background-color: #000;
    color: #fff;
}


/* 뉴스박스 영역 */

.news_bottom{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.news_sec .newsbox{}
.news_sec .newsbox .nbx_img{
    width: 100%;
    aspect-ratio: 1;
    margin-bottom: 20px;
}
.news_sec .newsbox .nbx_img img{
    width: 100%;
    object-fit: cover;
}
.news_sec .newsbox .nbx_txt h3{
    font-size: 22px;
    word-break: keep-all;
}
.news_sec .newsbox .nbx_txt .store{
    margin: 20px 0 10px;
    font-size: 16px;
}
.news_sec .newsbox .nbx_txt .date{
    font-size: 16px;
}





/* ************************************************************* */
/* 700px 사이즈 이하 미디어쿼리 시작 */
@media screen and (max-width: 700px) {
    .news_bottom{
        gap: 40px 0;
        flex-direction: column;
    }
    .news_sec .newsbox{
        width: 100%;
    }
    .news_sec .newsbox .nbx_txt h3{
        font-size: 18px;
    }
    .news_sec .newsbox .nbx_txt .store,
    .news_sec .newsbox .nbx_txt .date{
        margin: 10px 0 10px;
        font-size: 13px;
    }
}


/* 500px 사이즈 이하 미디어쿼리 시작 */
@media screen and (max-width: 500px) {

    .news_sec{
        padding: 140px 20px;
    }

    .news_sec .shoptit{
        font-size: 50px;
    }
    .news_sec .shoptit span{
        font-size: 15px;
    }

    
    .news_sec .descbx .desc_txt{
        padding: 30px;
    }
    .news_sec .descbx .desc_txt h3{
        font-size: 25px;
    }

    .news_sec .shoplist li{
        padding: 8px 10px;
        font-size: 13px;
    }

}