@charset "utf-8";
/* NewsSwipe 모듈용 CSS - Newsswipe.css  */

.newswbox{
    /* max-width: 1320px; */
    /* margin: 0 auto; */
    padding: 100px 0;
}

/* 캐릭터박스 */
.newbx{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999999;
    background-color: rgba(0, 0, 0, 0.742);
    display: none;
    /* 처음에 안보임 */
}